/*=========== RESET ==========*/
* {margin: 0; padding: 0; font-size: 100%; border: none; outline: none; font-weight: 100; box-sizing: border-box;
font-family: 'Lato', sans-serif; font-weight: 500;}
body {background-color: #303644; color: #ffffff; text-align: center;}
ul {list-style: none;}
img {max-width: 100%;}
p {padding: 1%;}


.colorfont {color: #D04C51;}
.fontDefinition {font-weight: 400; line-height: 1.2em;  letter-spacing: 0.09em;}
.fontDefinitionButton {font-weight: 300; letter-spacing: 0.1em;}
.regraFont {color: #D04C51; font-size: 10px;}
.notaFont {color: #1E93BD; font-size: 10px;}
.bt1 {color: #ffffff; border: 1px solid #ffffff; padding: 1%; width: 100%; padding-left: 35%; padding-right: 35%; margin-left: 4%;}
.bt2 {background-color: #a0a3a9;  border: 1px solid #a0a3a9; padding: 1%; color: #303644;}
.bt3 {color: #ffffff; border: 1px solid #ffffff; padding: 1%; width: 100%; padding-left: 40%; padding-right: 40%;}
.bt4 {color: #ffffff; border: 1px solid #ffffff; padding: 1%; margin-right: 2%; margin-left: 2%;}
.bt5 {color: #ffffff; border: 1px solid #ffffff; padding: 10%;}

.bg-gradient-index {background: linear-gradient(to right,#1C1F28,#303644,#1C1F28);}
.bg-gradient-malware {background: linear-gradient(to right,#771E20,#892E33,#771E20);}
.bg{background-color: #303644;}
.bg-dark{background-color: #1C1F28;}
.bg-dark-opacity{background-color: rgba(38, 31, 40, 0.3);}
.bg-white-opacity{background-color: rgba(255, 255, 255, 0.07);}
.bg-white{background-color: rgba(255, 255, 255, 0.1);}
.bg-pink-dark{background-color: #771E20;}
.textorosa {color: #D04C51;}
.pink-dark{color: #771E20;}
.blue {color: #005E77;}
.lightblue {color: #1E93BD;}
.details {text-align: left;}
.contato {margin-left: 5%;}
.content_regras {text-align: left; padding-left: 5%; padding-top: 2%; margin-top: 2%; margin-bottom: 5%;}
.content_arquivos {width: 31%; margin-left: 1%; height: 330px; text-align: center;}
.header_table {padding: 1%;}



a {text-decoration: none; color: #ffffff;}
a:hover {text-decoration: none; color: #D04C51; border-color: #D04C51;}
a.tools:hover {color: #fff;}


.blockUser {background-color: rgba(255, 255, 255, 0.1); padding: 1%; margin-bottom: 2%; height: 340px;}
.imgUser {margin-left: 5%; margin-right: 5%; margin-top: 5%;}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #D04C51;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:active {
    color: #D04C51;
    background-color: transparent;
}


@media screen and (max-width: 768px) {
  .blockUser {height: 450px;}
}